/*====================================================*/


/*=== fonts ====*/

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900");

/*====================================================*/

:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 80px;
}

.h-16 {
    height: 16px;
}

.h-23 {
    height: 23px;
}

.w-13 {
    width: 13rem;
}

.w-16 {
    width: 16px;
}

.w-23 {
    width: 23px;
}

.w-150 {
    width: 150px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-75 {
    padding-bottom: 75px;
}

.py-6 {
    padding-top: 5rem!important;
    padding-bottom: 4.5rem!important
}

.p-17 {
    padding: 17px;
}

.ls-5 {
    letter-spacing: 5px;
}

.lh-28 {
    line-height: 28px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fs-36 {
    font-size: 36px;
}

.fw-600 {
    font-weight: 600;
}

.st-text {
    text-decoration: none;
    color: #212529;
}

.background-1 {
    background: rgb(220, 232, 223);
    background: linear-gradient(97deg, rgba(220, 232, 223, 1) 0%, rgba(255, 255, 255, 1) 50%);
}

.background-2 {
    background: #F7F7F7;
}

.background-3 {
    background: #E7F7EE;
}

.background-4 {
    background: #202832;
}

.line {
    width: 150px;
    margin-left: 4px;
    text-align: center;
}

.line::after {
    content: "";
    display: block;
    background-image: url('/assets/images/Path\ 111.png');
    height: 10px;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.line-1 {
    margin-left: 0px;
}

.line-1::after {
    content: "";
    display: block;
    background-image: url('/assets/images/Path\ 116.png');
    height: 10px;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.line-2 {
    margin-left: 0px;
}

.line-2::after {
    content: "";
    display: block;
    background-image: url('/assets/images/Path\ 117.png');
    height: 10px;
    background-repeat: no-repeat;
    background-position: left bottom;
}


/* .banner-height {
    height: calc(100vh - 255px);
    display: flex;
    align-items: center;
} */

.banner-title {
    font-weight: 600;
    /* line-height: 55px; */
}

.banner-text {
    font-size: 18px;
}

.banner-btn {
    padding: 15px;
    font-size: 16px;
}

.course-btn {
    padding: 5px 16px;
    font-size: 14px;
    border-radius: 0px;
}

.course-graphics {
    font-size: 13px;
    background: #DEFFEC;
    padding: 5px;
    width: 60%;
    align-items: center;
    display: flex;
    color: #1DAA86;
    border-radius: 10px;
    justify-content: center;
}

.course-web {
    font-size: 13px;
    background: #E5F1FF;
    padding: 5px;
    width: 60%;
    align-items: center;
    display: flex;
    color: #06417B;
    border-radius: 10px;
    justify-content: center;
}

.course-laravel {
    font-size: 13px;
    background: #FFE2E3;
    padding: 5px;
    width: 60%;
    align-items: center;
    display: flex;
    color: #F3121B;
    border-radius: 10px;
    justify-content: center;
}

.course-motion {
    font-size: 13px;
    background: #DED5FC;
    padding: 5px;
    width: 60%;
    align-items: center;
    display: flex;
    color: #6940F5;
    border-radius: 10px;
    justify-content: center;
}

.course-ccna {
    font-size: 13px;
    background: #FFD8DA;
    padding: 5px;
    width: 60%;
    align-items: center;
    display: flex;
    color: #EE161C;
    border-radius: 10px;
    justify-content: center;
}

.course-webdev {
    font-size: 13px;
    background: #FCEEDB;
    padding: 5px;
    width: 60%;
    align-items: center;
    display: flex;
    color: #EB9100;
    border-radius: 10px;
    justify-content: center;
}

.course-appdev {
    font-size: 13px;
    background: #E2ECFF;
    padding: 5px;
    width: 60%;
    align-items: center;
    display: flex;
    color: #1163E8;
    border-radius: 10px;
    justify-content: center;
}

.course-reactdev {
    font-size: 13px;
    background: #DEFAFF;
    padding: 5px;
    width: 65%;
    align-items: center;
    display: flex;
    color: #07BBD8;
    border-radius: 10px;
    justify-content: center;
}

.course-text {
    font-size: 18px;
    font-weight: 700;
}

.bg-dot.primary {
    background-image: radial-gradient(#5293E1 6px, transparent 6.5px);
    position: absolute;
    background-size: 2.75rem 2.75rem;
    opacity: 1.4;
    width: 12rem!important;
    height: 10rem!important;
}

.sahpe {
    height: 290px!important;
}

.choose-title {
    font-size: 36px;
    font-weight: 600;
}

.testimonial-title {
    font-size: 36px;
    font-weight: 600;
}

.testimonial-block {
    padding: 35px;
    border-radius: 15px;
    box-shadow: inset 0px 0px 11px 2px rgb(205 203 203 / 26%);
}

.testimonial-img {
    height: 70px;
    width: 70px!important;
}

.testimonial-feedback {
    margin-bottom: 6px;
    font-size: 19px;
    font-weight: 500;
}

.portfolio-item {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
    .portfolio-item {
        height: 250px;
    }
}

.portfolio-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}

.portfolio-item:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
    transform: translatey(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.portfolio-item:nth-child(1):before {
    background-image: url('/assets/images/protfolio/protfolio-1.png');
}

.portfolio-item:nth-child(2):before {
    background-image: url('/assets/images/protfolio/protfolio-2.png');
}

.portfolio-item:nth-child(3):before {
    background-image: url('/assets/images/protfolio/protfolio-3.png');
}

.portfolio-item:nth-child(4):before {
    background-image: url('/assets/images/protfolio/protfolio-4.png');
}

.portfolio-item:nth-child(5):before {
    background-image: url('/assets/images/protfolio/protfolio-5.png');
}

.portfolio-item:nth-child(6):before {
    background-image: url('/assets/images/protfolio/protfolio-6.png');
}

.portfolio-item:nth-child(7):before {
    background-image: url('/assets/images/protfolio/protfolio-7.png');
}

.portfolio-item:nth-child(8):before {
    background-image: url('/assets/images/protfolio/protfolio-8.png');
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.content>*+* {
    margin-top: 1rem;
}

.copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

@media (hover: hover) and (min-width: 600px) {
    .portfolio-item:after {
        transform: translatey(0);
    }
    .content {
        transform: translatey(calc(100% - 4.5rem));
    }
    .content>*:not(.title) {
        opacity: 0;
        transform: translatey(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }
    .portfolio-item:hover,
    .portfolio-item:focus-within {
        align-items: center;
    }
    .portfolio-item:hover:before,
    .portfolio-item:focus-within:before {
        transform: translatey(-4%);
    }
    .portfolio-item:hover:after,
    .portfolio-item:focus-within:after {
        transform: translatey(-50%);
    }
    .portfolio-item:hover .content,
    .portfolio-item:focus-within .content {
        transform: translatey(0);
    }
    .portfolio-item:hover .content>*:not(.title),
    .portfolio-item:focus-within .content>*:not(.title) {
        opacity: 1;
        transform: translatey(0);
        transition-delay: calc(var(--d) / 8);
    }
    .portfolio-item:focus-within:before,
    .portfolio-item:focus-within:after,
    .portfolio-item:focus-within .content,
    .portfolio-item:focus-within .content>*:not(.title) {
        transition-duration: 0s;
    }
}

.baacademy {
    background: #F7F7F7;
    border-radius: 30px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.baacademy-title {
    padding: 28px 44px;
    font-weight: 600;
    text-align: start;
}

.brand-img-h {
    height: 140px;
    width: 140px;
}

.footer-text {
    text-decoration: none;
    color: #212529;
}

.footer-text:hover {
    color: #20bc2e;
}

.social a {
    padding: 0px 5px;
}

.contact {
    padding: 97px 70px;
    border-radius: 25px;
}

@media (max-width: 580px) {
    .contact {
        padding: 70px 25px;
    }
}

@media (min-width: 1200px) {
    .pr-100 {
        padding-right: 100px;
    }
}

@media (max-width: 991px) {
    .pt-100 {
        padding-top: 30px;
    }
    .w-40 {
        width: 40%;
    }
}

@media (min-width: 768px) {
    .border-md-end {
        border-right: 1px solid #dee2e6!important;
    }
}

figure img {
    width: 100%;
    max-width: 100%;
    height: auto!important;
}