/*====================================================*/


/*=== fonts ====*/

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900");

/*====================================================*/

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 80px;
}

.h-16 {
    height: 16px;
}

.w-16 {
    width: 16px;
}

.w-150 {
    width: 150px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-75 {
    padding-bottom: 75px;
}

.py-6 {
    padding-top: 5rem!important;
    padding-bottom: 4.5rem!important
}

.p-17 {
    padding: 17px;
}

.ls-5 {
    letter-spacing: 5px;
}

.lh-28 {
    line-height: 28px;
}

.background-1 {
    background: rgb(220, 232, 223);
    background: linear-gradient(97deg, rgba(220, 232, 223, 1) 0%, rgba(255, 255, 255, 1) 50%);
}

.background-2 {
    background: #F7F7F7;
}


/* .banner-height {
    height: calc(100vh - 255px);
    display: flex;
    align-items: center;
} */

.banner-title {
    font-weight: 600;
    /* line-height: 55px; */
}

.banner-text {
    font-size: 18px;
}

.banner-btn {
    padding: 15px;
    font-size: 16px;
}

.course-btn {
    padding: 5px 16px;
    font-size: 14px;
    border-radius: 0px;
}

.course-graphics {
    font-size: 13px;
    background: #DEFFEC;
    padding: 5px;
    width: 60%;
    align-items: center;
    display: flex;
    color: #1DAA86;
    border-radius: 10px;
    justify-content: center;
}

.course-web {
    font-size: 13px;
    background: #E5F1FF;
    padding: 5px;
    width: 60%;
    align-items: center;
    display: flex;
    color: #06417B;
    border-radius: 10px;
    justify-content: center;
}

.course-laravel {
    font-size: 13px;
    background: #FFE2E3;
    padding: 5px;
    width: 60%;
    align-items: center;
    display: flex;
    color: #F3121B;
    border-radius: 10px;
    justify-content: center;
}

.course-motion {
    font-size: 13px;
    background: #DED5FC;
    padding: 5px;
    width: 60%;
    align-items: center;
    display: flex;
    color: #6940F5;
    border-radius: 10px;
    justify-content: center;
}

.course-ccna {
    font-size: 13px;
    background: #FFD8DA;
    padding: 5px;
    width: 60%;
    align-items: center;
    display: flex;
    color: #EE161C;
    border-radius: 10px;
    justify-content: center;
}

.course-webdev {
    font-size: 13px;
    background: #FCEEDB;
    padding: 5px;
    width: 60%;
    align-items: center;
    display: flex;
    color: #EB9100;
    border-radius: 10px;
    justify-content: center;
}

.course-appdev {
    font-size: 13px;
    background: #E2ECFF;
    padding: 5px;
    width: 60%;
    align-items: center;
    display: flex;
    color: #1163E8;
    border-radius: 10px;
    justify-content: center;
}

.course-reactdev {
    font-size: 13px;
    background: #DEFAFF;
    padding: 5px;
    width: 60%;
    align-items: center;
    display: flex;
    color: #07BBD8;
    border-radius: 10px;
    justify-content: center;
}

.course-text {
    font-size: 18px;
    font-weight: 700;
}

.bg-dot.primary {
    background-image: radial-gradient(#5293E1 6px, transparent 6.5px);
    position: absolute;
    background-size: 2.75rem 2.75rem;
    opacity: 1.4;
    width: 12rem!important;
    height: 10rem!important;
}

.sahpe {
    height: 290px!important;
}

.choose-title {
    font-size: 36px;
    font-weight: 600;
}

.testimonial-title {
    font-size: 36px;
    font-weight: 600;
}

.testimonial-block {
    padding: 35px;
    border-radius: 15px;
    box-shadow: inset 0px 0px 11px 2px rgb(205 203 203 / 26%);
}

.testimonial-img {
    height: 70px;
    width: 70px!important;
}

.testimonial-feedback {
    margin-bottom: 6px;
    font-size: 19px;
    font-weight: 500;
}

@media (min-width: 1200px) {
    .pr-100 {
        padding-right: 100px;
    }
}

@media (max-width: 991px) {
    .pt-100 {
        padding-top: 30px;
    }
}

figure img {
    width: 100%;
    max-width: 100%;
    height: auto!important;
}